/* Paleta de tema claro */
:root {
    --color-fuente: #000000;
    --color-cuerpo-fondo: #5ebfff33;
    --color-decoraciones-fondo: #32adff26;
    --color-popup: #6fb7eb;
}
/*Paleta de tema oscuro*/
[tema="oscuro"]{
    --color-fuente: #ffffff;
    --color-cuerpo-fondo: #001e32;
    --color-decoraciones-fondo: #003152;
    --color-popup: #8cccf6;
}

*{
    margin: 0;
    padding: 0;

}

header{
    align-items: center;
    color: var(--color-fuente);
}
body,#main-container{
    color: var(--color-fuente);
    background-color: var(--color-cuerpo-fondo);
    transition: color 1s ease-out;
}
h1{
    text-align: center;
}
h5{
    text-align: center;
    padding-bottom: 1rem;
}
#foto_perfil{
    background-color: var(--color-decoraciones-fondo);
}
#foto_perfil figure{
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.columnas-decoradas{
    background-color: var(--color-decoraciones-fondo);
    margin: 1rem;
}
a{
    text-decoration: none;
}
.fa-arrow-up-right-from-square{
    margin-left: 1rem;
    color: var(--color-fuente);
}
.barra-de-datos{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
footer{
    margin-top: 5rem;
}
#link-web{
    display: none;
}

/*El siguiente codigo está encargado del tema oscuro, su slider, y el tooltip*/
  .switch-wrapper{
    /*padding-top: 0.4rem;
    padding-left: 2rem;*/
    /*padding-right: 2rem;*/
    /* position: absolute; */
    top: 1rem; left: 1rem;
    display: flex;
    align-items: center;

  }
  .switch-wrapper #switch{
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
}
  
  #switch::after{
    content: "Modo Oscuro";
    visibility: hidden;
    position: absolute;
    top: 3rem;
    z-index: 1;
    background-color: var(--color-popup);
    color: var(--color-fuente);
    padding: 8px;
    font-size: 1rem;
    border-radius: 2px;
    /* animation: fadeIn 0.6s,fadeOut 1s; */
    opacity: 0; 
    /* define initial transition property */ 
    transition: all .5s ease-in-out;
  }

#switch:hover:after {
    /* provide only the final transition property */
    visibility: visible;
    opacity: 1;
}





/*Opciones responsive*/

/*Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) {
    
}
/*X-Small devices (portrait phones, less than 576px)No media query for `xs` since this is the default in Bootstrap
*/
/*Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/
/*Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/*Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { 
 }

/*X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/
/*XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}
*/
